.App {
  background-color: white;
}

a {
  color: white;
}

.Store-icons {
  align-items: center;
}

.App-body {
  min-height: 60vh;
  display: flex;
  color: black;
  padding: 20px;
  align-items: center;
}

.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.Store-icons {
  justify-content: center;
}

.Non-Screenhots {
  display: flex;
  flex-direction: column;
}

.Screenshots {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.Title {
  font-size: calc(30px + 3vmin);
  margin-bottom: 10px;
}

.Subtitle {
  font-size: calc(10px + 2vmin);
  margin-top: 10px;
}

.Text-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}
