.App {
  background-color: white;
}

.Store-icons {
  align-items: center;
}

.App-body {
  min-height: 80vh;
  display: flex;
  padding: 10px 10px;
  color: black;
  align-items: center;
  background: linear-gradient(
    150deg,
    rgba(255, 64, 129, 1) 0%,
    rgba(63, 81, 181, 1) 50%,
    rgba(48, 63, 159, 1) 80%
  );
}

.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: auto;
}

.Non-Screenhots {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
}

.Screenshots {
  display: flex;
  margin: 10px 10px 10px 10px;
}

.Screenshot {
  border-radius: 10px;
}

.Title {
  font-weight: bold;
  font-size: calc(30px + 3vmin);
  margin-bottom: 10px;
}

.Subtitle {
  font-size: calc(10px + 2vmin);
  margin-top: 10px;
}

.Text-body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  align-self: center;
  justify-content: center;
}

.External-link {
  color: #fff;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.External-link:hover {
  color: lightseagreen;
  transition: 200ms ease-in;
}
